* {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Mali', cursive;
}

button {
  margin: 20px 0 20px 45px;
  color: #f700ff;
  padding: 15px;
  font-size: 20px;
  border: 4px solid rgb(247, 0, 255); 
  border-radius: 40px;
  /* float: left; */
}

canvas {
  float: right;
  /* border: 3px solid white; */
  /* margin-left: 130px; */
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  /* display: inline-block; */
  color: rgb(247, 0, 255);
}

p {
  font-size: 20px;
  line-height: 2em;
  text-align: center;
  margin-left: 8px;
  /* display: inline-block; */
  color: rgb(247, 0, 255);
  width: 250px;
  height: auto;
}